<nav class="toolbar">
  <button class="toolbar-button" onclick="location.href='/resultats';">
    <span class="label"></span>
  </button>
  <button class="toolbar-button" onclick="location.href='/gestion-des-donnees';">
    <span class="icon">🏃‍♂️‍➡️</span>
    <span class="label">Gestions des données</span>
  </button>
  <button class="toolbar-button" onclick="location.href='/contact';">
    <span class="icon">🏃‍♂️‍➡️</span>
    <span class="label">Nous contacter</span>
  </button>
  <div class="toolbar-right">
  </div>
</nav>
