<button class="sticky-button" (click)="navigate('/mes_infos_favorites')">Voir mes favoris</button>

<div *ngIf="post" [attr.id]="'post-' + post.id" class="post">
  <img [src]="post.profilePic" alt="Photo de profil" class="profile-img">
  <h3>{{ post.name }}</h3>
  <p [innerHTML]="post.content"></p> <!-- Injection HTML sécurisé -->
  <small>{{ getTimeElapsed(post.timestamp) }}</small>
  <div class="post-buttons">
    <mat-icon
      class="icon-btn"
      [ngClass]="{ 'favorite-active': post.is_favorite }"
      (click)="favorite(post.id)">
      {{ post.is_favorite ? 'favorite' : 'favorite_border' }}
    </mat-icon>

    <mat-icon class="icon-btn" (click)="copyurl(post.id)">share</mat-icon>
  </div>
</div>
