<p class="titre_cookie">Vous gardez nos cookies bien au chaud !🍪</p>
<p class="texte_cookie">Afin de faire fonctionner le service que nous vous proposont, nous stockons des données sur
  votre ordinateur, tel que des informations de connexions ou des données temporaires relatives au questionnaires.</p>
<p class="texte_cookie">Cela vous permet, par exemple de rester connecté lorsque vous changez de pages, ou aussi
  d'accéder à des ressources qui vous sont propres !</p>
<p>Les lois de la CNIL évoquent le fait qu'il n'est pas nécessaire de vous demander l'accès au cookies essentiel au
  fonctionnement de nos services, mais nous préfèreront tout de même vous en informer 😉</p>
<button (click)="setCookie()" mat-raised-button>J'ai compris !</button>

