<div class="container">
  <h2>Réinitialisation de mot de passe</h2>
  <p>Veuillez définir un nouveau mot de passe</p>

  <form (ngSubmit)="validatePassword()">
    <div class="form-group">
      <label for="password">Nouveau mot de passe</label>
      <input
        [(ngModel)]="password"
        class="form-control"
        id="password"
        name="password"
        required
        type="password"
      />
    </div>
    <p>le mot de passe doit contenir au moins une majuscule, deux caractères spéciaux, deux chiffre et 12 caractères au
      total</p>

    <div class="form-group">
      <label for="confirmPassword">Confirmez le mot de passe</label>
      <input
        [(ngModel)]="confirmPassword"
        class="form-control"
        id="confirmPassword"
        name="confirmPassword"
        required
        type="password"
      />
    </div>

    <!-- Spinner et messages -->
    <div *ngIf="isLoading" class="spinner">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>

    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    <p *ngIf="successMessage" class="success">{{ successMessage }}</p>

    <!-- Bouton de validation -->
    <button (click)="validatePassword()" [disabled]="isLoading" class="btn btn-primary" type="button">
      Réinitialiser
    </button>
  </form>
</div>
