<body>
<header>
  <h1>Contactez-nous</h1>
  <p>Vous avez une question ? Un besoin spécifique ? Retrouvez ici nos moyens de contact.</p>
</header>

<main>
  <section class="contact-info">
    <h2>Informations de contact</h2>
    <p>Pour toute demande, vous pouvez nous joindre :</p>
    <ul>
      <li><strong>Téléphone :</strong> <a href="tel:+33787063938">07 87 06 39 38</a></li>
      <li><strong>Email :</strong> <a href="mailto:guillaumelechevallier@viacesi.fr">guillaumelechevallier&#64;viacesi.fr</a>
      </li>
      <li><strong>Adresse :</strong> Quartier, 484 rue Antoine Saint-Exupéry, Cr Général Koenig, 14760
        Bretteville-sur-Odon
      </li>
    </ul>
  </section>

  <section class="contact-subjects">
    <h2>Pour nous contacter à propos de :</h2>
    <ul>
      <li><strong>Support technique :</strong> Appelez-nous au <a href="tel:+33231917655">07 87 06 39 38</a>.</li>
      <li><strong>Questions générales :</strong> Envoyez-nous un email à <a
        href="mailto:guillaumelechevallier@viacesi.fr">guillaumelechevallier&#64;viacesi.fr</a>.
      </li>
      <li><strong>Problèmes liés à vos données personnelles :</strong> Contactez notre référent RGPD directement.</li>
    </ul>
  </section>
</main>

<footer>
  <p>&copy; 2025 CESIZEN. Tous droits réservés.</p>
</footer>
</body>
